$mainColor: rgb(34, 114, 34);
$secondaryColor:#99e4b6;
$linkColor:rgb(24, 197, 114);
$backgroundColor: #a0721e;
$grayColor:#12d4d4;


$breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);




$container-widths: (
    sm: 540px,
    md: 768px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px
);




